* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("fonts/NunitoBold.ttf");
}

body {
    position: relative;
    font-family: Nunito, sans-serif;
    background: linear-gradient(to right, #FFFFFB 50%, #F8F8FA 50%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    padding: 27px 0 112px;
}

.main {
    padding: 0 85px 192px 70px;
}

.main-wrapper {
    width: 451px;
}

.main-title {
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.main-text {
    font-size: 22px;
    line-height: 27px;
    color: #636363;
    margin: 7px 0 72px;
}

.main-form {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: baseline;*/
    /*gap: 30px;*/
}

.main-form input:not(:last-child) {
    border: none;
    border-bottom: 1px solid #C6C6C4;
    outline: none;
    width: 452px;
    padding: 40px 0 10px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
}

.main-form input::placeholder {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #C6C6C4;
    transform: translateY(-25px);
}

#input-check {
    margin: 30px 10px 0 0;
    text-align: center;
}

label {
    font-size: 16px;
    color: #636363;
}

.main-button {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 40px 0 44px;
    width: 210px;
    height: 70px;
    background: #DD3142;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-span a {
    text-decoration: none;
    font-size: 16px;
    color: #636363;
    display: flex;
    justify-content: center;
}

.section-image {
    position: absolute;
    left: calc(50% - -15px);
    top: calc(30% - 110px);
}

.popupSuccessMenu {
    display: none;
    opacity: 0.9;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(225, 225, 216, 0.89) 50%, rgba(207, 207, 224, 0.96) 50%);
}

.popupWrapper {
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupText {
    text-align: center;
    font-size: 20px;
}

.popupBtn {
    margin: 50px 0 44px;
    width: 150px;
    height: 70px;
    background: #DD3142;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}